body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: 100vh;
  background-color: rgb(35, 40, 40);
}

h1 {
  font-size: 4em;
  color: white;
  font-weight: 900;
}

h4 {
  font-size: 2em;
  color: white;
  font-weight: 600;
  margin-left: 25%;
}

.container {
  margin: 300px;
}
.quantity {
  margin: 0 25% 0 32%;
}

input {
  background-color: whitesmoke;
  align-items: center;
  margin: 0 25px 0 25px;
  padding: 10px 20px 10px 20px;
  width: 10%;
  border-radius: 10%;
  font-weight: 900;
  font-size: larger;
}

a {
  padding: 10px;
  border-radius: 20%;
}

span {
  font-size: x-large;
}

.quantity_minus {
  background-color: red;
  padding: 10px 20px 10px 20px;
}
.quantity_plus {
  background-color: green;
  padding: 10px 20px 10px 20px;
}
